<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_COLOR_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight{%-5level}{ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=cyan} | %style{%t}{magenta} | %style{%c{1.}}{bright,cyan} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_COLOR_PATTERN}" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>