---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: tcbasicsecondaryindices.core.oxia.io
spec:
  group: core.oxia.io
  names:
    kind: TCBasicSecondaryIndex
    listKind: TCBasicSecondaryIndexList
    plural: tcbasicsecondaryindices
    singular: tcbasicsecondaryindex
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: TCBasicSecondaryIndex is the Schema for the tcbasicsecondaryindices
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TCBasicSecondaryIndexSpec defines the desired state of TCBasicSecondaryIndex.
            properties:
              foo:
                description: Foo is an example field of TCBasicSecondaryIndex. Edit
                  tcbasicsecondaryindex_types.go to remove/update
                type: string
            type: object
          status:
            description: TCBasicSecondaryIndexStatus defines the observed state of
              TCBasicSecondaryIndex.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
