---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: tcstreamingsequences.core.oxia.io
spec:
  group: core.oxia.io
  names:
    kind: TCStreamingSequence
    listKind: TCStreamingSequenceList
    plural: tcstreamingsequences
    singular: tcstreamingsequence
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: TCStreamingSequence is the Schema for the tcstreamingsequences
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TCStreamingSequenceSpec defines the desired state of TCStreamingSequence.
            properties:
              foo:
                description: Foo is an example field of TCStreamingSequence. Edit
                  tcstreamingsequence_types.go to remove/update
                type: string
            type: object
          status:
            description: TCStreamingSequenceStatus defines the observed state of TCStreamingSequence.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
